<!DOCTYPE html>

<head>
    <script src="../jquery/jquery.js"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/gallery.css">
    <title>Boutique en ligne de vente de fleurs IP7Floral</title>
    <script> 
        var articles, username;
        <% if(typeof articles !== 'undefined') {%> 
            articles = <%- JSON.stringify(articles) %>;
        <% } else { %>
            articles = [];
        <% } %>

        <% if(typeof username !== 'undefined') {%> 
            username = <%- JSON.stringify(username) %>;
        <% } else { %>
            username = "";
        <% } %>

        <% if(typeof code !== 'undefined') {%> 
            code = <%- JSON.stringify(code) %>;
        <% } else { %>
            code = "";
        <% } %>
    </script>
    <script src="../script/catalogue.js"></script>
</head>

<body>
    <div id="nav">
        <!--
            remplit par le script qui suit
        -->
    </div>

    <script>
        $(function()
        {
            $("#nav").load("../navbar.html");
        });
    </script>

    <div id="priceRange">
        <h3>Prix (en euros)</h3>
        <label>Minimum</label>
        <input type="text" class="priceRangeInput" id="priceMinInput" value="0">
        <label>Maximum</label>
        <input type="text" class="priceRangeInput" id="priceMaxInput" value="0">
        <input type="button" class="priceRangeInput" id="priceSearchButton" value="Lancer la recherche">
    </div>
      
    <div id="gallery">
        <!-- 
            remplit par la fonction createGallery du script catalogue.js
        -->
    </div>
    
    <div id="notification">
        
    </div>
    <script>
        $(function()
        {
            $("#notification").load("../footer.html");
        });
    </script>
</body>