<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Accueil Client IP7Floral</title>
    <script> var article = <%= articles %> </script>
</head>

<body>
    <header>
        <button onclick="location.href='login'" type="button">Se connecter</button>
    </header>
</body>