<!DOCTYPE html>

<head>
    <script src="../jquery/jquery.js"></script>
    <meta charset="utf-8">
    <title>Se connecter à IP7Floral</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;1,200&display=swap" rel="stylesheet">
    <script> 
        var errorMessage = "";
        <% if (typeof message !== 'undefined') { %>
            errorMessage = <%-  JSON.stringify(message) %>;
        <% } else { %>
            errorMessage = "";
        <% } %>
    </script>
    <script src="../script/authentification.js"></script>
</head>

<body>
    <div id="formContainer">
        <h2>Connectez-vous</h2>
        <form action="" method="post" id="logForm">
            <div class="loginContainer">
                <label>Identifiant</label>
                <input type="text" name="login" id="login" >
            </div>
            <div class="passContainer">
                <label>Mot de passe</label>
                <input type="password" name="password" id="password">
            </div>
            <input type="submit" value="Se connecter" id="subForm">
        </form>
    </div>
    <div id="notification">
    </div>
    <script>
        $(function()
        {
            $("#notification").load("../footer.html");
        });

        $("#notification").children("p").html(errorMessage);
        $("#notification").css('background-color', 'red');
        $("#notification").show().delay(5000).fadeOut();
    </script>
</body>