
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;1,200&display=swap" rel="stylesheet">

<script>
    if(code == 0)
    {
        $('#nav').append('<button onclick="location.href=\'/home\'" class="headerBtn">Notre catalogue</button>');
        $('#nav').append('<button onclick="location.href=\'/cart\'" class="headerBtn">Mon panier</button>');
        $('#nav').append('<button onclick="location.href=\'/orders\'" class="headerBtn">Mes commandes</button>');
    } else {
        $('#nav').append('<button onclick="location.href=\'/orders\'" class="headerBtn">Commandes clients</button>');
    }
    if(username != null)
    {
        $('#nav').append('<button onclick="location.href=\'/logout\'" class="headerBtn" type="button">Se déconnecter ('+username+')</button>');
    }
</script>

<style>
    body{
        margin: 0;
        font-family: 'Titillium Web', sans-serif;
        background-image: url("../img/background.jpg");
    }

    #nav{
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        background-color: white;
        text-align: right;
        box-shadow: 0px 0px 8px 0px #000000;
    }

    #nav button{
        border: 0;
        cursor: pointer;
        color: #000000;
        height: 100%;
        background-color: inherit;
        padding: 25px;
        outline: none;
        transition: 0.5s;
    }

    #nav button:hover{
        border: 0;
        cursor: pointer;
        background-color: lightgray;
    }
</style>