<!DOCTYPE html>

<head>
    <script src="../jquery/jquery.js"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/orders.css">
    <script> 
        var commandes, username;
        <% if(typeof commandes !== 'undefined') {%> 
            commandes = <%- JSON.stringify(commandes) %>;
        <% } else { %>
            commandes = [];
        <% } %>

        <% if(typeof username !== 'undefined') {%> 
            username = <%- JSON.stringify(username) %>;
        <% } else { %>
            username = "";
        <% } %>

        <% if(typeof code !== 'undefined') {%> 
            code = <%- JSON.stringify(code) %>;
        <% } else { %>
            code = "";
        <% } %>
    </script>

    <% if (code == 0) { %>
        <title>Mes commandes</title>
    <% } else { %>
        <title>Commandes clients</title>
    <% } %>

    <script src="../script/orders.js"></script>
</head>

<body>
    <div id="nav">
        <!--
            remplit par le script qui suit
        -->
    </div>

    <script>
        $(function()
        {
            $("#nav").load("../navbar.html");
        });
    </script>
    

    <div id="mainContainer">
            <!-- remplit par le script orders.js -->
    </div>
    
    <footer>

    </footer>
</body>