#mainContainer {   
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 50px;
}


/* cas panier vide */
#mainContainer .msgContainer{
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(50%);
    width: 100%;
    text-align: center;
}
.msgContainer h1{
    color: #FFC0CB;
}

.msgContainer h2{
    color: #C71585;
}


#mainContainer .article {   
    width: 50%;
    padding: 50px;
    margin: auto;
    margin-top: 50px;
    border: #FFC0CB 2px solid;
    text-align: center;
}

#mainContainer .article button{   
    padding: 10px;
    margin: 5px;
    margin-bottom: 15px;
}

#mainContainer .article img {
    float: left;
    margin: 25px;
    width: 200px;
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 4px; 
}

#mainContainer #totalText{
    text-align: center;
}

button{
    cursor: pointer;
    outline: none;
    border: 1px solid black;
    transition: 0.25s ease;
}

button:hover{
    background-color: #FFB6C1;
    color: white;
    border-color: #FFB6C1;
}

#mainContainer #orderBtn{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 50%;
    padding: 20px;
}