#mainContainer {   
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 50px;
}

/* cas panier vide */
#msgContainer{
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#msgContainer h1{
    color: #FFC0CB;
}

#msgContainer h2{
    color: #FFC0CB;
    font-weight: lighter;
}

#ourStore {
    color: #C71585;
    font-style: italic;
}
/**/


#mainContainer .article {   
    width: 50%;
    padding: 50px;
    margin: auto;
    margin-top: 50px;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 8px 0px #000000;
    text-align: center;
}

#mainContainer .article button{   
    padding: 10px;
    margin: 5px;
    margin-bottom: 15px;
}

#mainContainer .article img {
    float: left;
    margin: 25px;
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 8px 0px #000000;
}

#mainContainer #totalText{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.article button, #orderBtn{ 
    cursor: pointer;
    outline: none;
    font-size: 15px;
    border: 1px solid black;
    transition: 0.25s ease;
}

.article button:hover, #orderBtn:hover{
    background-color: #FFB6C1;
    color: white;
    border-color: #FFB6C1;
}

.article button:disabled{
    cursor:not-allowed;
    background-color: white;
    color: white;
    border-color: black;
}

#mainContainer #orderBtn{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 40%;
    padding: 20px;
}