#mainContainer {   
    position: relative;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    border: black 1px solid;
}

#mainContainer .article {   
    width: 75%;
    margin: auto;
    margin-top: 50px;
    border: black 1px solid;
}

#mainContainer .article img {
    display: inline-block;
    width: 150px;
    height: 150px;
}

#mainContainer #totalText{
    text-align: center;
}

#mainContainer #orderBtn{
    display: block;
    margin: auto;
    margin-bottom: 20px;
}