#gallery{
    display: inline-grid;
}

#gallery .article {
    padding: 20px;
    overflow: hidden;
}

#gallery .article img{
    width: 200px;
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 4px; 
    transition: transform .5s ease;
}

  
#gallery .article img:hover {
    transform: scale(1.5);
}

#gallery .article .item_price {
    text-align: center;
    margin: 5px;
}

#gallery .article .buyBtn {
    width: 100%;
    cursor: pointer;
}

#priceSlider {
    width: 200px;
}