#gallery{
    display: inline-grid;
}

#gallery .article {
    position: relative;
    padding: 20px;
}

#gallery .article img{
    display: block;
    width: 150px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px; 
    transition: transform .5s;
}

  
#gallery .article img:hover {
    transform: scale(1.5);
}

#gallery .article .item_price {
    text-align: center;
    margin: 5px;
}

#gallery .article .buyBtn {
    width: 100%;
    cursor: pointer;
}